<div class="ui inverted segment headline">
  <div class="ui inverted secondary menu headlinemenu">
    <div class="headlinetitlecontainer">
      <h1 class="headlinetitle">Bank of Rapperswil</h1>
      <p class="headlinesubtitle">Dashboard</p>
    </div>
    <div class="headlinebuttoncontainer">
      <form (ngSubmit)="goToDashboard()">
        <button class="item headlinebutton" type="submit">Dashboard</button>
      </form>
      <form (ngSubmit)="goToAllTransactions()">
        <button class="active item headlinebutton" type="submit">Account Transactions</button>
      </form>
    </div>
    <div class="headlinelogoutbuttoncontainer">
      <wed-logout></wed-logout>
    </div>
  </div>
</div>
<div class="contentcontainer">
  <div class="ui segments content">
    <div class="ui segment" style="padding: 0">
      <div class="ui label" style="margin: 0; padding: 14px; width: 100%;">
        <h1>All Transactions</h1>
      </div>
    </div>
    <div class="ui segment">
      <h2>Filter</h2>
      <form class="ui form" style="display: flex">
        <div class="field" style="margin: 10px; flex-grow: 1">
          <label>
            Select a year
            <div class="ui fluid dropdown selection" id="yearDropdown">
              <input type="hidden" name="year" [(ngModel)]="year" #Year="ngModel" (change)="changeYear()">
              <i class="dropdown icon"></i>
              <div class="default text">Year</div>
              <div class="menu">
                <div class="item" data-value="2017">2017</div>
                <div class="item" data-value="2018">2018</div>
                <div class="item" data-value="2019">2019</div>
              </div>
            </div>
          </label>
        </div>
        <div class="field" style="margin: 10px; flex-grow: 3">
          <label>
            Select a month
            <div class="ui fluid search dropdown selection" id="monthDropdown">
              <input type="hidden" name="month" [(ngModel)]="month" #Month="ngModel" (change)="changeMonth()">
              <i class="dropdown icon"></i>
              <div class="default text">Month</div>
              <div class="menu">
                <div class="item" data-value="0">January</div>
                <div class="item" data-value="1">February</div>
                <div class="item" data-value="2">March</div>
                <div class="item" data-value="3">April</div>
                <div class="item" data-value="4">May</div>
                <div class="item" data-value="5">June</div>
                <div class="item" data-value="6">July</div>
                <div class="item" data-value="7">August</div>
                <div class="item" data-value="8">September</div>
                <div class="item" data-value="9">October</div>
                <div class="item" data-value="10">November</div>
                <div class="item" data-value="11">December</div>
              </div>
            </div>
          </label>
        </div>
      </form>
      <div class="ui divider"></div>
      <div class="ui relaxed divided list">
        <div class="item" style="display: flex; height: 43px; align-items: center">
          <div class="content" style="flex-grow: 1"><h4 style="width: 100px">Date</h4></div>
          <div class="content" style="flex-grow: 1"><h4 style="width: 100px">Source</h4></div>
          <div class="content" style="flex-grow: 1"><h4 style="width: 100px">Target</h4></div>
          <div class="content" style="flex-grow: 1"><h4 style="width: 100px">Amount [CHF]</h4></div>
          <div class="content" style="flex-grow: 1"><h4 style="width: 100px">Balance [CHF]</h4></div>
        </div>
        <div class="item" style="display: flex; height: 43px; align-items: center"
             *ngFor="let element of transactions">
          <div class="content" style="flex-grow: 1"><h4 style="width: 100px">{{element.date}}</h4></div>
          <div class="content" style="flex-grow: 1"><p style="width: 100px">{{element.from}}</p></div>
          <div class="content" style="flex-grow: 1"><p style="width: 100px">{{element.target}}</p></div>
          <div class="content" style="flex-grow: 1"><p style="width: 100px">{{element.amount.toFixed(2)}}</p></div>
          <div class="content" style="flex-grow: 1"><p style="width: 100px">{{element.total.toFixed(2)}}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

